@tailwind base;
@tailwind components;
@tailwind utilities;

.Noto{
  font-family: Noto Sans;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animateMoveUp{
  margin-top: -14rem;
}

.userSuggestionsDiv::-webkit-scrollbar {
  border: none;
  background-color: transparent;
  width: 5px;
  height: 10px;
  margin: 1rem;
  
} /* webkit browsers(safari, chrome) */
.userSuggestionsDiv::-webkit-scrollbar-thumb {
 border-radius: 0.70rem;
 padding-top: 1rem;
 -webkit-box-shadow: inset 10 10 6px rgba(0,0,0,0.5);
  background-color: rgba(188, 188, 188, 0.429);
} 
.userSuggestionsDiv::-webkit-scrollbar-track {
 border-radius: 5rem;
 -webkit-border-radius: 5rem;

} 
